@tailwind base;
@tailwind components;
@tailwind utilities;

.dropzone {
  @apply p-8 border-2 border-dashed border-gray-300 rounded-lg text-center cursor-pointer transition-colors;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 8s ease infinite;
}