version: '3'

services:
  react-app:
    container_name: react-frontend
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    labels:
      - "authors=prathmesh"
