version: '3'

services:
  react-app:
    container_name: react-frontend
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
    labels:
      - "authors=prathmesh"
